<header id="portfolio-header">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">
        <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, I am Kartik...", "I am Creative...", "I Love Design...", "I Love to Develop..." ]'>
          <span class="wrap"></span>
        </a>
      </h1>
      <hr>
      <a (click)="goTo('services')" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
  </div>
</header>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Expertise</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3>Ideas</h3>
                    <p class="text-muted">I collaborate with clients and peers to nurture and transform ideas into well thought out design specs. After all, that's where the majority of amazing user experiences start.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code text-primary sr-icons"></i>
                    <h3>Code</h3>
                    <p class="text-muted">I build amazing Ruby on Rails web applications from design to code!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Follow Us!</h2>
      <ul class="list-inline intro-social-buttons">
        <li>
          <a href="https://twitter.com/_voidzero" target = _blank class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
          <a href="https://github.com/kartikjagdale" target = _blank class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/kartik-jagdale-5a56a453" target = _blank class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
        </li>
      </ul>
    </div>
  </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Want to work together?</h2>
                <hr class="primary">
                <p>I'm currently accepting new projects and would love to hear about yours. Please take a few minutes to tell me about it.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-mobile fa-3x sr-contact"></i>
                <p>+91-8975866855</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:kartikjagdale11@gmail.com">kartikjagdale11@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>

